<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Curso</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
     <link rel="stylesheet" th:href="@{/css/formulario.css}">


</head>
<body>

    <div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card bg-dark text-light shadow-lg p-4 rounded-4">
        <h3 class="mb-4 text-center">Cadastro de Curso</h3>

        <form th:action="@{/cursos/salvar}" method="post" th:object="${curso}">
          <input type="hidden" th:field="*{idCurso}" />

          <div class="mb-3">
            <label for="nomeCurso" class="form-label">Nome</label>
            <input type="text" id="nomeCurso" class="form-control bg-secondary text-light border-0"
                   th:field="*{nomeCurso}" required />
          </div>

          <div class="mb-3">
            <label for="siglaCurso" class="form-label">sigla</label>
            <input type="text" id="siglaCurso" class="form-control bg-secondary text-light border-0"
                   th:field="*{siglaCurso}" />
          </div>

          <div class="mb-3">
            <label for="chCurso" class="form-label">Ch</label>
            <input type="text" id="chCurso" class="form-control bg-secondary text-light border-0"
                   th:field="*{chCurso}" />
          </div>

          <div class="mb-3">
            <label for="periodoCurso" class="form-label">Periodo</label>
            <input type="text" id="periodoCurso" class="form-control bg-secondary text-light border-0"
                   th:field="*{periodoCurso}" />
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg rounded-pill">
              Salvar
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
    
</body>
</html>