<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    
    <title>Listar aluno</title>
</head>
<body class="d-flex flex-column min-vh-100">
    
        <header class="bg-dark text-light py-4 shadow">
             <div class="container text-center">
          <h1 class="fw-bold">Lista de alunos</h1>
        </div>
        </header>

    <h3 style="text-align: center;"><a href="/alunos/criar">cadastrar</a></h3>

    <table style="margin:0 auto; border: 1px solid black; border-collapse: collapse;">
        <tr>
            <td colspan="8" style="text-align: center;">Lista de Alunos</td>
        </tr>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>RM</th>
            <th>CPF</th>
            <th colspan="2">Ações</th>
        </tr>

        <tr th:each="aluno: ${alunos}">
            <td th:text="${aluno.idAluno}"></td>
            <td th:text="${aluno.nomeAluno}"></td>
            <td th:text="${aluno.enderecoAluno}"></td>
            <td th:text="${aluno.telefoneAluno}"></td>
            <td th:text="${aluno.rmAluno}"></td>
            <td th:text="${aluno.cpfAluno}"></td>
            <td>
                <a href="@{/aluno/editar{id}(id=${aluno.idAluno})}">editar</a>
                <a href="@{/aluno/excluir{id}(id=${aluno.idAluno})}">excluir</a>
            </td>

        </tr>
    </table>
</body>
</html>