<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistema escolar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="bg-dark text-light py-4 shadow">
         <div class="container text-center">
      <h1 class="fw-bold">Sistema Escolar</h1>
      <p class="mb-0 text-secondary">Painel de gerenciamento</p>
    </div>
    </header>
    
  <main class="container my-5 flex-grow-1">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <div class="card bg-secondary text-light shadow-lg p-4 rounded-4">
          <h3 class="mb-4">Menu Principal</h3>
          <a href="/alunos/listar" class="btn btn-outline-light btn-lg w-100 mb-3 rounded-pill">
            Gerenciar Alunos
          </a>
          <a href="/cursos/listar" class="btn btn-outline-light btn-lg w-100 mb-3 rounded-pill">
            Gerenciar Cursos
          </a>
          <a href="/cidades/listar" class="btn btn-outline-light btn-lg w-100 mb-3 rounded-pill">
            Gerenciar Cidade do aluno
          </a>

          <a href="/alunos/listar-nome-telefone" class="btn btn-outline-light btn-lg w-100 mb-3 rounded-pill">
            Litar telefones de alunos
          </a>
        </div>
      </div>
    </div>
  </main>

  <footer class="bg-dark text-center text-secondary py-3 mt-auto">
    <small>&copy; 2025 Sistema Escolar</small>
  </footer>
</body>
</html>