<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistema escolar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css" />
</head>

<header>
    <div class="container-fluid bg-dark text-center text-primary">
        <div class="row justify-content-center color-white">
            <h1>Sistema Escola</h1>
        </div>
    </div>
</header>
<body>
    
    <div class="container bg-dark p-5 mt-5 text-center ">
        <h3><a href="/alunos/listar">gerenciar Alunos</a></h3>
        <h3><a href="/cursos/listar">gerenciar cursos</a></h3>
    </div>
</body>
</html>